@CHARSET "UTF-8";

.fltlft { float: left; }
.fltrgt { float: right; }
.txt-left { text-align: left; }
.txt-right { text-align: right; }
.txt-center { text-align: center; }
.relative { position: relative; }
.absolute { position: absolute; }

.container .grid-left {  }

.container .grid-wraper { background: #1a9d47; }

.bg-content { background: #6fbe44; }

.content { padding: 25px; }

#header { width: 1200px; height: 588px; background: url('../images/seedviet-banner.png') no-repeat; }

.round-conners-5 {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.round-conners-10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.menu-categories { padding-bottom: 15px; }
.txt-category { display: block; background: url('../images/txt-category.png') no-repeat; width: 133px; height: 38px; margin: 20px 40px 20px 0; }

ul.menu-category-items { list-style: url("../images/icon-menu-star.png"); background: #FFF; margin: 0 15px; padding: 5px 0; }
ul.menu-category-items li { line-height: 30px; }
ul.menu-category-items li a { color: #230001; font-weight: bold; text-decoration: none; }